@page "/404"
@inject NavigationManager Navigation

<h1>Page not found</h1>
<p>Navigate using the menu.</p>
<button @onclick="GoHome">Go Home</button>

@code {
    private void GoHome()
    {
        Navigation.NavigateTo("/");
    }
}